<!DOCTYPE html>
<html>
<head>
    <title>DHV3</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<main>
    <article id="interface"></article>
    <aside id="repos"></aside>
    <aside id="repo"></aside>
</main>

<footer>
	<form action="http://localhost:5007/authenticate" method="post">
		<div id="usernameDiv">
			<input name="username">
		</div>
		<div id="passwordDiv">
			<input type="password" name="password">
		</div>
		<div id="submit">
    		<button>Send my greetings</button>
  		</div>
	</form>
</footer>

    <script type="text/javascript" src="static/functionality.js"></script>
</body>
</html>