<!DOCTYPE html>
<html>
<head>
    <title>Narwhal Github</title>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>
<main>
	<div class="space"></div>
    <form action="http://narwhal.holberton.us/authenticate/" method="post" enctype="multipart/form-data">
		<div id="usernameDiv">
			Username: <input name="username">
		</div>
		<div id="passwordDiv">
			Password: <input type="password" name="password">
		</div>
		<div id="submit">
    		<button>Send my greetings</button>
  		</div>
	</form>
</main>

<footer>
	
</footer>

    <!-- <script type="text/javascript" src="static/functionality.js"></script> -->
</body>
</html>
